---

import Layout from "../layouts/Layout.astro";

---

<Layout title="encuentranos">
    <main class="w-full h-auto flex flex-col justify-center items-center">
        <h1 class="text-[#17449c] font-semibold text-2xl mb-2 md:text-3xl md:mb-3 lg:text-4xl lg:mb-4">Encuentranos</h1>
        <aside class=" font-semibold gap-2">                   
            <p class="flex justify-center text-sm md:text-base">Direccion: Larrazabal 2625/27, Capital Federal</p>
            <p class="flex justify-center text-sm md:text-base ">Telefono: (011) 4635-7722</p>
            <p class="flex justify-center text-sm md:text-base">Contactos: info@gfsur.com.ar</p>            
        </aside>
        <section class="w-full h-auto mt-2 md:mt-2 border border-[#ec3541] rounded">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d322.74284008115075!2d-58.488700513178465!3d-34.663822376381106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9615fad927b%3A0x56c24b7a5d15656c!2sAv.%20Larraz%C3%A1bal%202625%2C%20C1440%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1723671298688!5m2!1ses-419!2sar"
            class="w-full h-[300px] border border-[#ec3541] rounded" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>        
    </main>

</Layout>