---

---

<footer class="bg-gradient-to-r from-[#ffffff] to-[#ec3541] h-m mt-auto text-white p-7 pb-0 flex flex-col h-max md:flex-row md:justify-around">
    <div class="flex justify-center p-3">
        <picture class="w-[200px] md:w-[300px] content-center">
            <img src="/img/logo-sfondo.png" alt="">
        </picture>                                             
    </div>

    <div class="hidden md:flex md:flex-col md:content-center md:pb-2">
        <p class="text-[#17449c] text-xl font-bold">Navegacion</p>
        <nav class="flex flex-col">
            
            <a class="hover:text-[#17449c] hover:font-bold" href="/home">Home</a>
            <a class="hover:text-[#17449c] hover:font-bold" href="/servicios">Servicios</a>
            <a class="hover:text-[#17449c] hover:font-bold" href="/encuentranos">Encuentranos</a>
            <a class="hover:text-[#17449c] hover:font-bold" href="/empresas">Empresas</a>
        </nav>
    </div>

    <section class="content-center p-2 pb-4">        
        <p class="flex justify-center text-sm md:text-base">Direccion: Larrazabal 2625/27, Capital Federal</p>
        <p class="flex justify-center text-sm md:text-base ">Telefono: (011) 4635-7722</p>
        <p class="flex justify-center text-sm md:text-base">Contactos: info@gfsur.com.ar</p>        
    </section>
</footer>