---
import { sectionHome } from '../../assets/dataSectionImg.js'

const { imgHome1, imgHome2, imgHome3 } = sectionHome;
---

<section class="mt-10">
    <picture>
        <img class="absolute z-10 w-[100px] sm:w-[130px] md:w-[160px] lg:w-[250px] h-auto top-[650px] sm:top-[680px] lg:top-[760px] left-[25px] sm:left-[15px] lg:left-[60px] rounded-lg" src={imgHome1} alt="">
        <img class="absolute z-10 w-[100px] sm:w-[130px] md:w-[160px] lg:w-[250px] h-auto top-[1000px] sm:top-[870px] md:top-[910px] lg:top-[860px] right-[25px] sm:right-[15px] lg:right-[60px] rounded-lg" src={imgHome2} alt="">
        <img class="absolute z-10 w-[100px] sm:w-[130px] md:w-[160px] lg:w-[250px] h-auto top-[1380px] sm:top-[1070px] md:top-[1130px] lg:top-[1005px] left-[25px] sm:left-[15px] lg:left-[60px] rounded-lg border border-grey" src={imgHome3} alt="">
    </picture>
    <div class="border border-[#17449c] rounded-lg ml-[50px] mr-[50px] sm:ml-[70px] sm:mr-[70px] md:ml-[100px] md:mr-[100px] lg:ml-[250px] lg:mr-[250px] p-3 font-semibold">
        <h2 class="flex justify-center text-[#17449c] font-semibold text-2xl mb-2 md:text-3xl md:mb-3 lg:text-4xl lg:mb-4">Por que elegirnos</h2>
        <p class="flex justify-center text-sm md:text-base pl-[50px] pr-[50px] text-justify leading-loose">
            Grupo farmacéutico sur es una empresa creada con un concepto actual en abastecimiento y 
            distribución de especialidades farmacéuticas que abarca todas las áreas  terapéuticas.            
        </p>
        <p class="flex justify-center text-sm md:text-base pl-[50px] pr-[50px] text-justify leading-loose mt-2">
            Contamos con estrictos controles que garantizan el cumplimiento de las normas vigentes, 
            sumados a nuestra capacidad profesional nos permite ofrecer un servicio de excelencia en
            los productos suministrados.            
        </p>
        <p class="flex justify-center text-sm md:text-base pl-[50px] pr-[50px] text-justify leading-loose mt-2">
            Una atención ágil y eficaz es el modo elegido para satisfacer las necesidades que el mercado exige.            
        </p>
        <p class="flex justify-center text-sm md:text-base pl-[50px] pr-[50px] text-justify leading-loose mt-2">
            El conocimiento del medio y la confianza de reconocidas empresas de salud, nos coloca en un lugar 
            preferencial a la hora de concretar una operación comercial.            
        </p>
        <p class="flex justify-center text-sm md:text-base pl-[50px] pr-[50px] text-justify leading-loose mt-2 mb-2">
            Experiencia y entusiasmo nos empujan a cumplir con el objetivo de ser una compañía que a través de
            su servicio aporta calidad a la vida humana.
        </p>
    </div>
</section>